---
import HeadLayout from "../layouts/HeadLayout.astro"
---


<HeadLayout>
<h1>404 - Siden blev ikke fundet </h1>
<p>Det ser ud til, at der er sket en fejl.</p> <br>
<p>Gå tilbage og prøv igen -<br> eller  kontakt os på mail: ak@kjolbyepsykoterapi.dk eller tlf. nr.: 2246 5113</p>
</HeadLayout>

<style>
    h1{
        font-size: 2rem;
        color: var(--mørkBordeaux);
        align-items: center;
        text-align: center;
    }
    p{
        text-align: center;
        margin: auto;
        color: var(--bordeaux);
    }
</style>

