---
import HeadLayout from "../layouts/HeadLayout.astro"
---
<HeadLayout>
 <section>
<h1>Cookie- og privatlivspolitik</h1>
<p>Vores website anvender ”cookies” til at analysere hvordan websiden benyttes af de besøgende. Vi anvender Google Analytics til at indsamle disse informationer - Google kan kombinere disse data med andre oplysninger, som du har givet dem, eller som de har indsamlet fra dig via din brug af deres tjenester (Google Chrome, G-mail osv.).
<br><br>
 Det har til formål at optimere brugeroplevelsen på hjemmesiden, og det gør det muligt for os at lave bedre annoncekampagner.
<br><br>
 En cookie er en lille tekstfil, som lagres i brugerens browser (f.eks. Internet Explorer, Firefox, Chrome, Safari eller Opera). Den anvendte cookie er ikke et program og indeholder ikke virus.
<br><br>
 Ved at bruge vores hjemmeside samtykker du til ovenstående.</p>

<h3>Brug af personoplysninger</h3>
<p>Personoplysninger afgives aldrig til tredjepart, medmindre du selv udtrykkeligt giver tilsagn hertil, og vi indsamler aldrig personoplysninger, uden at du selv har givet os disse oplysninger ved kontakt eller deltagelse i et arrangement m.v. Her indsamles oplysninger om navn, adresse, e-mail og telefonnummer.</p>

<h3>Hvordan undgår jeg cookies?</h3>
<p>Det er muligt at slette eller blokere for cookies. Se vejledning: <a target="_blank" href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a> 
 <br><br>
 Blokering af cookies kan dog give dig en forringet oplevelse på nogle hjemmesider.
 <br><br>
 Brug hjælpefunktionen i din browser for at få mere information om cookie-indstillinger. Du kan også klikke på linkene herunder for at få hjælp.</p>
</section>
</HeadLayout>

<style>
section{
 margin: 8rem;
}
a{
	color: var(--mørkeBlå);
	text-decoration: underline;
	font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
	}

	a:hover{
		color: var(--bordeaux);
	}

	@media only screen and (max-width: 391px) {
	section{
		margin: 2rem;
	}

	a{
		font-size: 1rem;
	}
}
</style>
